# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
backend/env/
backend/.env
.env
.venv
env/
venv/
ENV/

# Node
node_modules/
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local
frontend/.env.*.local
.DS_Store
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo
